html, body {
  margin: 0;
  padding: 0;
  background: #f5f2ec;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

em {
  font-family: inherit;
}

a {
  cursor: pointer;
}
